:root {
  --secondary-primary-color: #00adb5;
  --background-primary-color: #eeeeee;
  --header-text-color: #222831;
  --accent-color: #00adb5;
  --body-text-color: #393e46;
  --border-color: #393e46;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: var(--background-primary-color);
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
}

/* Global Styles End */
.masthead {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--header-text-color);
  background-color: var(--accent-color);
}

ul {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  box-shadow: 10px 5px 10px var(--header-text-color);
  list-style: none;
}

li {
  padding: 5px;
  margin: 2px;
}

.Intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePic {
  width: 90%;
  height: auto;
  border: 1px solid var(--border-color);
  border-radius: 100%;
  margin: 0 auto;
  padding: 10px;
  transition: all 3s ease-out;
}

.profilePic:hover {
  /* background-color: var(--light-primary-color); */
  box-shadow: 5px 10px 10px var(---accent-color);
}

figure {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 300px;
}

figcaption {
  margin: 3px;
}

.Info {
  margin-left: auto;
}

/* main part start */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.skills,
.skills2,
.contact {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  margin-top: 15px;
}

.skills h1,
h2,
p {
  text-align: center;
  padding: 10px;
  width: 60%;
  margin: 10px auto;
}

h1:hover {
  transform: scale(1.2);
}

h1 {
  transition: all 2s ease-out;
  text-align: center;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  animation: 2s;
  animation-name: slidein;
  animation-timing-function: ease-in;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.htm,
.cs {
  display: flex;
  padding: 5px;
  width: 80%;
  margin: 5px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skillImg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  transition: all 2s ease-in;
}

.skillImg:hover {
  box-shadow: 10px 5px 5px;
  transform: rotateX(20deg);
}

.cs .skillImg {
  order: 1;
  padding-right: 15px;
}

button {
  background-color: var(--header-text-color);
  color: var(--background-primary-color);
  border-radius: 10px;
  height: 40px;
  width: 50%;
  margin: 0 auto;
  transition: all 2s ease-in;
}

button:hover {
  box-shadow: 5px 5px 5px var(--divider-border-color);
  background-color: var(--light-primary-color);
}

/* -----------------------Footer---------------------------- */

footer {
  background: var(--accent-color);
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer ul li {
  margin-top: 15px;
}

footer ul {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
  margin: 5px;
}

/* End of Style Sheet */
