

#brand{
  border-radius: 100px;
}

.top-section{
  background:url('images/8547121.jpg') no-repeat center center;
              background-size:cover;

              /* Workaround for some mobile browsers */
              min-height:100%;
              padding-top: 20px;
              padding-bottom: 20px;
              height: 500px;
}
