
.top-section{
  background:url('images/minimal-creative-winter-christmas-tree-lanscape-design-vector.jpg') no-repeat center center;
              background-size:cover;

              /* Workaround for some mobile browsers */
              min-height:100%;
              padding-top: 20px;
              padding-bottom: 20px;
              height: 500px;
              width: 100%;
}
#brand{
  border-radius: 100px;
}

/* top section finished */

/* Hello section */
.hello{
  max-width: 1922px;
  max-height: 630px;
  margin-top: 84px;
  margin-bottom: 84px;
}

h1{
  max-height: 58px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top:20px;
  margin-bottom: 10px;
}

.hellop{
  max-width: 460px;
  box-sizing: border-box;
  margin-bottom: 10px;

}
.artp{
  max-width: 460px;
}

container{
  max-width: 970px;
}

/* hello section finished */

.midsec{
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  height: 630px;
}

.artmid{
  max-width: 940px;
  max-height:  588px;
}
.details{
  max-width: 440px;
  max-height: 148px;
  padding-left: 28px;
}

.mid3{
  max-width: 412px;
  max-height: 58px;
  text-align: center;
  padding-bottom: 20px;
}

h2{
  margin-top: 20px;
  margin-bottom: 10px;
  height: 58px;
}


.midpara{
  max-width: 412px;
  max-height: 90px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 20px;
}

.devpar{
  margin-top: 42px;
  margin-bottom: 42px;
}

.devpartwo{
  margin-top: 42px;
  margin-bottom: 84px;
}

.contactp{
  padding-top: 42px;
  padding-bottom: 112px;
  text-align: center;
}

.artbt{
  max-width: 600px;
  margin:0 auto;

}
.botcon{
  padding-left: 15px;
  padding-right: 15px;
}
.hid{
  padding-top: 28px;
  padding-bottom: 28px;
}
.botp{
  margin-bottom: 10px;
  text-align: center;
}

.last3{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 28px;
}

.last2{
  margin-top: 20px;
  margin-bottom: 10px;
}

.breaker{
  margin: 0 auto;
  max-width: 100px;
  height: 6px;
}
